.favourites {
  padding: 48px 0;

  .row {
    display: flex;
    padding: 0 -15px;
  }

  .col-2_4 {
    padding: 0 15px;
    width: 20%;

    img {
      width: 225px;
      height: 225px;
      margin-bottom: 52px;
    }
  }

  .favourite-svg {
    position: absolute;
    right: 45px;
    bottom: 65px;
    width: 40px;
    height: 37px;
    cursor: pointer;
    opacity: 0;
    transition: 0.4s;
  }

  .favourite-svg path:last-child {
    transition: fill 0.4s;
  }

  .favourite-svg:hover path:last-child {
    fill: #F24E1E;
  }

  .cat-card img {
    background-color: #9cbcdc;
  }

  .cat-card:hover .favourite-svg {
    opacity: 1;
  }
}